/* ***** iPhone 5/SE ***** */ 
@media screen and (min-device-width: 320px) {
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 63rem;
    background-image: url("../images/faces.jpg");
    // opacity: 0.5;
  }

  .welcome {
    font-size: 2.3rem;
    margin-bottom: 0;
  }

  .login-message {
    font-size: 27px;
    margin-top: 8px;
  }

  .welcome,
  .login-message {
   color: #4c7e80;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 25rem;
    background-color: white;
  }

  .login-label {
    margin-top: 20px;
    font-size: 22px;
    margin-left: 7rem;
  }

  .login-label,
  .login-input {
    width: 12rem
  }

  .login-button {
    margin-bottom: 20px;
    width: 12.6rem;
    margin: 2px 0 20px 10px;
  }
  
  .login-error {
    display: flex;
    justify-content: center;
    height: 2rem;
    width: 25rem;
  }

  .error-message {
    color: red;
    font-weight: bold;
     margin-top: 0;
  }
}

/* ***** iPad & Desktop ***** */ 
@media only screen and (min-width: 2500px) {
  .login {
    height: 71rem;
  }

  .welcome {
    font-size: 4rem;
  }

  .login-message {
    font-size: 2.5rem;
  }
}