@import '_variables.scss';
@import '_user-form.scss';

* {
  border: 1px solid red
}

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

/* ***** iPhone 5/SE ***** */ 
@media screen and (min-device-width: 320px) {
  header {
    background-color: $header-color;
    margin: 0;
    width: 40.1rem;
  }
  .user-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px 15px 0 0;
  }
  
  .lower-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-user {
    font-size: 20px;
  }
  
  .user-handle {
    font-size: 17px;
  }
  
  .app-name-container {
    @include row;
  }

  .app-name {
    font-size: 30px;
    margin-top: 5px;
  }

  .fa-bolt {
    font-size: 20px;
    padding: 14px 15px 0 2px;
  }

  .nav-container {
    @include row;
    font-size: 20px;
    list-style-type: none;
    padding-left: 10px;
    margin-top: 0;
  }

  .fa-home,
  .fa-plane-departure {
    padding-left: 20px;;
  }

  .nav {
    padding-right: 35px;
  }

  /* Mobile Main */
  main {
    align-items: center;
    background-color: #ffffff;
    width: 40.1rem;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-name,
  .total-spent,
  .total {
    font-size: 2rem;
    margin: 0;
  }

  .total-spent,
  .total {
    padding-bottom: 20px;
  }

   /* Mobile Trips Section */
  .cards-container {
    padding: 0 5rem;
    justify-items: center;
  }

  article {
    margin-bottom: 2rem;
    background-color: $header-color;
    height: 40rem;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  }

  .card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #556B;
  }

  h3 {
    font-size: 25px;
  }

  .trip-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
  }
  
  .destination,
  .date {
    font-size: 1.5rem;
    background-color: #bfc0c0;
  }
}

/* ***** Small Desktop - 2 Columns ***** */ 
@media only screen and (min-width: 400px){
  header {
    width: 100%
  }

  .fa-user,
  .user-handle {
    font-size: 15px;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }

  .fa-home,
  .fa-plane-departure {
    padding-right: 3px;
  }

  .app-name {
    font-size: 2rem;
  }

  .fa-bolt {
    font-size: 23px;
    padding: 14px 15px 0 5px;
  }

  /* Small Main Desktop */
  main {
    width: 100%;
    height: 100%;
  }

  .user-name,
  .total-spent,
  .total {
    font-size: 2rem;
    margin: 0;
  }

  .total-spent, 
  .total {
    padding-bottom: 20px;
  }

  .cards-container {
    display: grid;
    @include grid(2);
    grid-gap: 2rem;
    padding: 0;
  }
  
  article {
    width: 20rem;
    height: 30rem;
  }

  .trip-cards {
    padding: 0 2rem;
  }

  .destination, 
  .date {
    font-size: 20px;
  }
}

/* ***** Full Desktop - 4 Columns ***** */ 
@media screen and (min-width: 1200px) {
  .nav-container {
    @include row;
    font-size: 23px;
  }

  .user-container {
    padding: 10px 15px 0 0;
  }
  
  .lower-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-user {
    font-size: 20px;
    padding-right: 3px;
  }
  
  .user-handle {
    font-size: 18px;
  }

  .app-name {
    font-size: 3.5rem;
    margin-top: 5px;
  }

  .fa-bolt {
    font-size: 2.5rem;
    padding: 20px 15px 0 10px;
  }
  
  /* Full Main Desktop */
  // main {
  // }

  .cards-container {
    @include grid(4);
  }
}

.hidden {
  display: none;
}
